.contact-container {
    margin: 4rem 0;
    position: relative;
    padding: 0 1rem; /* Added padding for better responsiveness */
}

.contact-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: center; /* Centered heading on smaller screens */
}

.contact-content {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    justify-content: center; /* Centers content on smaller screens */
}

@media (max-width: 768px) {
    .contact-content {
        gap: 2rem;
        flex-direction: column; /* Stacks items vertically on smaller screens */
        align-items: center; /* Aligns items centrally */
    }

    .contact-container h5 {
        font-size: 1.25rem; /* Slightly smaller font size on smaller screens */
    }
}
